
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: lightgrey;
}
h1, .h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

bootstrap.css:1224


#results {
  color:#fff;
  padding: 10px;
}

.success{
  background-color: #5cb85c;
  transition: 0.3s all ease-in-out;
}

.failure{
  background-color: #d9534f;
  transition: 0.3s all ease-in-out;
}
